@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cabin Sketch", sans-serif;
    font-style: normal;
    font-size: 18px;
}

:root {
    --font-weight-default: 400;
    --font-weight-bold: 700;

    --color-1: #538392;
    --color-2: #538392;
    --color-3: #80B9AD;
    --color-4: #B3E2A7;
}

html {
    position: relative;
    min-height: 100%;
}

body{
    background-color: var(--color-1);
}

p{
    margin-bottom: 6px;
    width: auto;
}

.title{
    font-size: 50px;
}

.content-wrapper {
    width: 100%;
    max-width: 650px;
    margin: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
}

.title {
    margin: 2rem 0;
    grid-column: span 3;
    text-align: center;
    line-height: 1;
}

#grid-container{
    height: 470px;
    width: 470px;
    border: 6px dashed var(--color-1);
    padding: .5rem;
    border-radius: 1rem;
    background-color: var(--color-3);
    grid-column: span 2;
    margin: auto;
}

.controls{
    height: 90%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.btn{
    padding: .5rem 1rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--color-3);
    border-radius: .5rem;
}

.btn-generate{
    border-radius: 0;
}

.btn-shake{
    margin-top: 1rem;
    width: 100%;
}

.input-wrapper{
    display: flex;
    overflow: hidden;
    border-radius: .5rem;
    margin-top: .5rem;
}

.input{
    width: 120px;
    padding: .5rem 1rem;
    border: 1px solid var(--color-4);

    &:focus{
        outline: none;
    }
}

#error-alert{
    color: red;
    font-size: 14px;
}

/* ------------Animation when the Grid Resets----------- */

@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-5deg); }
    50% { transform: rotate(5deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }

.shake {
    animation: shake .4s;
}

/* --------CSS for devices with a maximum width of 768px ---------*/
@media screen and (max-width: 768px) {
    .controls{
        margin-bottom: 2rem;
        padding: 0;
    }

    .input-wrapper{
        display: inline-flex;
    }

    #grid-container{
       height: 350px;
       width: 350px;
    }

    .content-wrapper{
        width: 350px;
        display: block;
    }
}